    body {
        background-color: #a3daa6;
        font-size:20px;
    }
    .cont{
        border: 7px solid rgba(46, 46, 46, 0.37);
        border-radius: 10px;
        width: 100%;
        min-height: 97vh;
        
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    header{
        display: flex;
        margin: 0 auto;
        border: 7px solid rgba(46, 46, 46, 0.37);
        border-radius: 30px;
        width: auto;
        height: auto;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
        background: linear-gradient(135deg, #005300,#008a00, #005300);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-weight: bold;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    .box1{
        flex: 1;
        border: 7px solid rgba(46,46,46,.37);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        flex:1 1 300px;
        
    }
    .box2{
        flex: 1;
        border: 7px solid rgba(46,46,46,.37);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        flex:1 1 300px;
        
    }
    .box3{
        flex: 1;
        border: 7px solid rgba(46,46,46,.37);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        flex:1 1 300px;
        
    }
        .start{
        padding:30px;
        border:4px solid rgba(0,0,0,.45);
        border-radius:20px;
        background:#3cff35a9;
        text-align: center; 
        transition: 0.5s;  
        font-size: 50px; 
    }
    .start:hover{
        scale: 1.05;
    }
     .box_col{   
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;  
        
    }
    ul{
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
        font-size: 30px;
    }
    
    .box_row {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
    }
    .box_row1{
        display: flex;
        gap: 20px;          
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        flex-wrap:wrap;
    }
    .box_row1 span{
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        text-align: center;
    }
    .box_col > span{
        font-family: "Saira Stencil", sans-serif;
        font-size:40px;
        font-weight:500;
        text-align:center;
    }
    .kont span{
        position: absolute;
        visibility: visible;
    }
    .box_row span {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    #opt{
        position: fixed;
        top: 0;
        right: -300px;      
        width: 300px;
        top: 14px;
        background: rgba(37, 129, 0, 0.356);
        
        transition: right 0.3s ease;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid rgb(0, 158, 0);
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
        user-select: none;
    }
    #opt img:hover{
        cursor: pointer;
    }
    #opt_go:hover{
        cursor: pointer;
    }
    #log{
        position: fixed;
        visibility: hidden;
        width: 25%;
        height: auto;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        display: flex;
        justify-content: center;  
        align-items: center;      
        border-radius: 10px;
        flex-direction: column;
        
        background: #3cff35;
        text-align: center;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    #log input{
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: #c2ffaf;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    #log button{
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: #c2ffaf;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    #log input::placeholder{
        color: black;
    }
    #rej{
        position: fixed;
        visibility: hidden;
        width: 25%;
        height: auto;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        display: flex;
        justify-content: center;  
        align-items: center;      
        border-radius: 10px;
        flex-direction: column;
        
        background: #3cff35;
        text-align: center;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    #rej input{
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: #c2ffaf;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    #rej button{
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: #c2ffaf;
        font-family: "Saira Stencil", sans-serif;
        font-optical-sizing: auto;
    }
    #rej input::placeholder{
        color: black;
    }
    .cpoint:hover{
        cursor: pointer;
    }
    @media (max-width: 900px){

    .box_row{
        flex-direction: column;
        align-items: center;
    }

    .box_row span{
        position: static;
        transform: none;
        margin-top: 15px;
    }
}